*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    color: white;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

header{
    background-color:#226F98;
    padding: 1.5rem 2rem;

}

footer{
    background-color: #3FA5BE;
}

.btn:hover{
    color: black;
    cursor: pointer;
}

.btn:hover > .green-btn, .blue-btn:hover {
    background-color: #35AAB9;
    
}

/*      HEADER        */
.title{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3rem;
}

.cat-word{
    color: red;
}

.btn{
    font-size: .9rem;
}

.green-btn{
    background-color: #28DDA5;
    border-radius: 10px;
    font-size: 2rem;
    width: 100px;
    height: 50px;
}

.green-btn > p{
    margin: auto auto;
}

/*          PLAYER          */
.player{
    background-color: #5C91AD;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    height: 100%;
}

.info, .victories > p {
    font-size: 2rem;
}

.piece-selection > p {
    font-size: 1.5rem;
}



input[type="text"]{
    font-size: .9rem;
    text-align: center;
    border-radius: 10px;
    width: 75%;
}

.blue-btn{
    background-color: #5FDDF5;
    border-radius: 10px;
    font-size: 1.2rem;
    width: 100px;
    margin: 0 auto;
    margin-top: 10px;
}

.player .piece {
    width: 30px;
    height: 30px;
}



/*              GAME BOARD           */

.game-container{
    min-height: 500px;
}
.game{
    height: 100%;
}
.player-turn{
    background-color: #35AAB9;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2rem;
}

.boardgame{
    background-color: #EABB7B;
    height: 100%;
}